.hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--color-blue);
}

.hashtag {
  margin-right: 0.25em;
}

.title-and-clamp {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-regular);
  color: var(--color-black);
}

.title-and-clamp__title--clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.title-and-clamp__clamp {
  align-self: flex-start;
  transition: transform 300ms ease;
}

.title-and-clamp__clamp--clicked {
  transform: rotate(180deg);
}

.views {
  font-size: var(--font-small);
  color: var(--color-grey);
}
