.metadata__channel {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-top: var(--border);
  border-bottom: var(--border);
}

.channel__metadata {
  display: flex;
  align-items: center;
}

.channel__avatar {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.75em;
}

.channel__name {
  font-size: var(--font-regular);
  color: var(--color-black);
}

.channel__subscribers {
  font-size: var(--font-small);
  color: var(--color-grey);
}

.channel__subscribe {
  text-transform: uppercase;
  font-size: var(--font-regular);
  color: var(--color-red);
}
