:root {
  /* Size */
  --base-space: 0.5em;

  /* Border */
  --border: solid 1px var(--color-light-grey);
}

/* For the viewport wider than 64rem */
@media screen and (min-width: 64rem) {
  :root {
    /* Size */
    --base-space: 1em;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
}
